:root {
  --black: #131211;
  --primary: #e8f354;
  --lato: "Lato", sans-serif;
  --martian: "Martian Mono", monospace;
  --shadow: 0 2px 2px rgb(0 0 0 /0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Inter', sans-serif; */
  font-family: var(--lato);
  background-color: #202124;
  color: white;
}

/* component search */
.search_section {
  background-color: var(--primary);
  /* margin: 16px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 2px solid rgb(255, 251, 251);
  border-radius: 10px;
}

.search_section h2 {
  color: var(--black);
}

.search_section form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.search_section form button {
  background-color: var(--black);
  color: white;
  padding: 10px;
  margin-left: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.search_section form button:hover {
  background-color: white;
  color: var(--black);
}

/* component input */
.input_section {
  width: 50rem;
  margin-top: 20px;
  padding: 16px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 251, 251);
  border-radius: 10px;
}

.input_section h2 {
  text-align: center;
  color: white;
}

.input_section form .input #notifikasiSisaKarakter {
  visibility: hidden;
}

.input_section form .input {
  background-color: var(--primary);
  border: 1px solid #eee;
  padding: 2rem;
  margin: 20px 0;
}

.input_section form button {
  background-color: var(--primary);
  font-family: var(--lato);
  font-size: 20px;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 50%;
  padding: 8px;
  cursor: pointer;
  margin-left: 25%;
}

.input_section form button:hover {
  background: white;
  color: var(--primary);
}

.input_section form .input label {
  color: black;
  font-weight: bold;
  padding: 20px;
}

.input_section form .input input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

/* component catatan */
.result {
  background-color: var(--primary);
  padding: 20px;
  margin-top: 10px;
}

.notes {
  background-color: var(--black);
  margin: 16px 0 0 0;
  border: 2px solid rgb(255, 251, 251);
  padding: 16px;
  border-radius: 10px;
}

.notes h2 {
  color: white;
}

.notes .notes_list {
  padding: 16px;
}

.note_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  border: 1px dashed black;
  padding: 16px;
  border-radius: 8px;
}

.note_item .note-judul {
  padding: 4px 0;
}

.note_item .note-pesan {
  padding-top: 20px;
  font-weight: lighter;
}

.delete {
  width: 40px;
  height: 40px;
  background: url("../../public/icon/trash.svg");
  background-size: contain;
  margin-left: 16px;
  margin-top: 20px;
  border: 0;
  /* color: blue; */
  /* border-radius: 4px; */
  cursor: pointer;
}

.delete:hover {
  background: url("../../public/icon/trash2.svg");
  background-size: contain;
}

@media only screen and (max-width: 820px) {
  .input_section {
    width: 35rem;
  }
}

@media only screen and (max-width: 600px) {
  .input_section {
    width: 30rem;
  }
}

@media only screen and (max-width: 400px) {
  .input_section {
    width: 20rem;
  }

  .search_section {
    background-color: var(--primary);
    border-radius: 0;
    width: 25rem;
  }

  .result {
    width: 25rem;
  }
}
